@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
	}

header{
		font-size: 18px;
		padding: 2%;
	}

h1 {
	float: left;
}

nav a{
		float: left;
		font-size: 18px;
		padding: 1%;
		padding-top: 3%;
	}

form{
		float: left;
		padding: 2.5%;
		padding-right: 10%;
}

.clearfix:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
		}

img {
		align-content: center;
}

#ABOUT{
		padding: 2%;
		float: left;
		width: 46%;
		text-align: center;
		}

#PRODUCT{
		padding: 2%;
		float: right;
		width: 46%;
		text-align: center;
		}

.promotion{
		font-weight: lighter;
		font-size: 12px;
		border: 2px solid black;
		clear: both;
		text-align: center;
		background-color: #F5B7B1;
		padding: 4%;
		}

a.promotion{
		text-decoration: underline;
		color: red;
}

.productspotlight{
    text-align: left;
    padding-left: 13%;
    padding-top: 2%;
		}

.productspotlight img{
	padding-left: 2%;
}

ul{
		list-style-type: none;
		font-size: 16px;
		float: left;
		}

article{
		padding: 3%;
		text-align: left;
		padding-left: 40%;
		padding-bottom: 2%
		clear: both;
		}

article img{
		padding-left: 2%;
		float: left;
}

#blog{
		background-color: #F5B7B1;
		border: 2px solid black;
		padding: 4%;
		clear: both;
		}

#blog a {
		text-decoration: underline;
		float: left;
		margin: 2%;
	}

.story1,.story2,.story3{
		border: 2px solid black;
		float:left;
		height: 10em;
		width: 20%;
		margin: 2%;
}


a{
		color: #000000;
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		display: block;
		}

a:hover {
		color: #F39C12;
		}

.terms{
	text-align: left;
	font-family: 'Open Sans', serif;
	word-spacing: 4px;
	}

footer{
	font-size: 8px;
	margin: 5%;
	padding: 1%;
	background-color: #E5E7E9;
	}
footer a{
		text-decoration: underline;
}
.foot{
	float: right;
}


