@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Lora');

body{
		background-color: #FEF9E7;
		text-align: center;
		font-family: 'Lato', sans-serif;
		padding: 100px;
}

header{
		font-family: 'Lato', sans-serif;
		text-align: left;
		font-size: 1.75em;
		color: rgb(067,209,214);
}

nav{
		color: #1F618D;
		font-size: .6em;
		font-family: 'Laro:900', sans-serif;
		word-spacing: 12px
	}

div	{
		text-align: right;
		font-size: .6em;
		font-family: 'Lato:900', sans-serif;
		}
h2,h3{
		font-size: 18px;
		font-family: 'Lora',serif;
		color: rgb(162,160,168);
		}

#intro{
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	letter-spacing: 1.5px;
	}

section{
		padding: 40px;
		}

ul{
		list-style-type: none;
		font-size: 16px;
		font-family: 'Lato',sans-serif;
}

#About{
		text-align: left;
		font-family: 'Lato',sans-serif;
		letter-spacing: .5px;
		}

#product{
		text-align: right;
		font-size: 16px;
		font-family: 'Lato',sans-serif;
		color: #1F618D;
		word-spacing: 6px;
		}

#promotion{
		background-color: #F5CBA7;
		font-family: 'Laro', serif;
		border-color: black;
		border: solid;
		}

article{
		text-align: left;
		font-family: 'Lato', sans-serif;
		letter-spacing: .5px;
		}

a{
		color: #1F618D;
		font-size: 1em;
		text-decoration: none;
}

a:hover {
		color: #F39C12;
}

img{
		width: 600px;
		}	

#terms{
	text-align: left;
	font-family: 'Lora', serif;
	word-spacing: 4px;
}

#foot{
	font-family: 'Lora', serif;
	font-size: 14px;
}


