@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
		margin: 0;
		padding: 0;
		box-sizing: content-box;
}

body{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
	}

header{
		font-size: .75em;
	}

h1 {
		float: left;
		padding: .6em;
}

header nav a:hover{
		color: black;
		background-color: #F5B7B1;
}

header nav a{
		float: left;
		font-size: 1.25em;
		padding: 1%;
		padding-top: 2%;
		text-decoration: none
	}

#cart{
		float: right;
		display: inline-block;
		width: 30em;
		padding-top: 2%;
}
input[type="submit"] {
		font-family: 'Open Sans', sans-serif
{
	
}

.clearfix:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
		}

#ABOUT img {
		width: 100%;
}

#PRODUCT img{
		width: 100%;
}

#ABOUT{
		float: left;
		width: 50%;
		text-align: center;
		font-size: .85em;
		}

#PRODUCT{
		float: right;
		width: 50%;
		text-align: center;
		font-size: .85em;
		}

.promotion{
		font-weight: lighter;
		font-size: 12px;
		border: 2px solid black;
		clear: both;
		text-align: center;
		background-color: #F5B7B1;
		padding: 4%;
		}

a.promotion{
		color: red;
}

.productspotlight{
	    text-align: left;
	    padding-left: 13%;
	    padding-top: 2%;
		}

.productspotlight img{
		padding-left: 2%;
}

ul{
		list-style-type: none;
		font-size: 16px;
		float: left;
		}

article{
		padding: 3%;
		text-align: left;
		padding-left: 40%;
		padding-bottom: 2%
		clear: both;
		}

article img{
		padding-left: 2%;
		float: left;
}

#blog{
		background-color: #F5B7B1;
		border: 2px solid black;
		padding: 4%;
		clear: both;
		}

#blog a {
		float: left;
		margin: 2%;
	}

.story1,.story2,.story3{
		border: 2px solid black;
		float:left;
		height: 10em;
		width: 20%;
		margin: 2%;
}


a{
		color: #000000;
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		display: block;
		text-decoration: underline;
		}

a:hover {
		color: #F39C12;
		}

.newsletter{
		background-color: #E5E7E9;
		margin-top: 2%;
		height: 10em;
		border: 2px solid black;
}

.newsletter h1{
		text-align: center;
		font-size: .75em;
}

.terms{
		text-align: left;
		font-family: 'Open Sans', serif;
		word-spacing: 4px;
	}

footer{
		font-size: .7em;
		padding: 1%;
		background-color: #E5E7E9;
	}

.foot{
		float: right;
}


