body{
	background-color: #FEF9E7;
	font-family: arial, sans-serif;
	text-align: center;
	padding: 25px 50px 75px 100px;
}

h1{
	background-color: #D1F2EB;
	text-align: left;
	font-family: verdana;
	font-size: 20px;
	color: rgb(067,209,214)
}

h2,h3{
	font-size: 16px;
	color: rgb(162,160,168);
}

a{
	color: black;
	font-family: serif;
	text-decoration: none;
	color: #34495E;
}

#slogan{
	font-family: helvetica;
	font-size: 16px;
	font-style: italic;
	color: rgb(124,186,214);
}

#Newarrivals{
	text-align: : left;
}

img{
	width: 600px;
	height: 600px;
}	

